<li>
	{{burger_name}}

		<button class="change-burger" data-name="{{burger_name}}" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devour}}Eat!{{else}}Add to eat again!{{/if}}
	</button>



	</li>